.attribute {
  display: flex;
  margin-bottom: 20px;
}

.attribute h1 {
  width: 400px;
  font-size: 24px;
  color: cadetblue;
}
.launch-view {
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.launch-view .launch-description {
  color: grey;
}

.launch-view img {
  width: 1000px;
  height: 600px;
}